<div class="container-fluid mb-5">
  <h2> Template Driven LogIn Form</h2>

  <form #logInForm="ngForm" (ngSubmit)="onSubmit(logInForm)">

    <div class="form-group">
      <label>UserName</label>
      <input type="text" class="form-control" name="userName" ngModel>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="password" ngModel>
    </div>

    <div class="form-group">
      <label>Select Your Role</label>
      <select class="custom-select" name="role" ngModel>
        <option selected> I am logging in as</option>
        <option *ngFor="let role of roles">{{role}}</option>
      </select>
    </div>

    <div class="mb-3">
      <label>Available Time To Reach Out</label>
      <label class="form-check-label">Morning(10 am - 2 pm)</label>
      <input class="form-check-input" ngModel type="radio" name="timePreference" value="morning">
      <label class="form-check-label">Evening(8 pm - 10 pm)</label>
      <input class="form-check-input" ngModel type="radio" name="timePreference" value="evening">

    </div>

    <div class="mb-3">
      <label>Send Me Newsletter</label>
      <input class="form-check-input" name="subscribe" ngModel type="checkbox">
    </div>

    <button class="btn btn-primary" type="submit">LogIn</button>
  </form>

  {{logInForm.value | json}}
</div>
